.Logo {
  @include verticalCenter;
  margin: 5px auto;
  width: 200px;
  border-radius: 20px;
  padding: 5px 0;
  

  img {
    height: 40px;
  }
  h3 {
    margin-left: 10px;
    color: $color-1;
  }
}
